<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>{{subject}}</title>


  <style type="text/css">
      img {
          max-width: 100%;
      }

      body {
          -webkit-font-smoothing: antialiased;
          -webkit-text-size-adjust: none;
          width: 100% !important;
          height: 100%;
          line-height: 1.6em;
      }

      body {
          background-color: #f6f6f6;
      }

      @media only screen and (max-width: 640px) {
          body {
              padding: 0 !important;
          }

          h1 {
              font-weight: 800 !important;
              margin: 20px 0 5px !important;
          }

          h2 {
              font-weight: 800 !important;
              margin: 20px 0 5px !important;
          }

          h3 {
              font-weight: 800 !important;
              margin: 20px 0 5px !important;
          }

          h4 {
              font-weight: 800 !important;
              margin: 20px 0 5px !important;
          }

          h1 {
              font-size: 22px !important;
          }

          h2 {
              font-size: 18px !important;
          }

          h3 {
              font-size: 16px !important;
          }

          .container {
              padding: 0 !important;
              width: 100% !important;
          }

          .content {
              padding: 0 !important;
          }

          .content-wrap {
              padding: 10px !important;
          }
      }
  </style>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage"
      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;"
      bgcolor="#f6f6f6">

<table class="body-wrap"
       style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;"
       bgcolor="#f6f6f6">
  <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
        valign="top"></td>
    <td class="container" width="600"
        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;"
        valign="top">
      <div class="content"
           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope
               itemtype="http://schema.org/ConfirmAction"
               style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;"
               bgcolor="#fff">
          <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="content-wrap"
                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;"
                valign="top">
              <meta itemprop="name" content="{{subject}}"
                    style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"/>
              <table width="100%" cellpadding="0" cellspacing="0"
                     style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                  <td class="content-block"
                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                      valign="top">
                    Klik de button om in te loggen, verdere registratie onnodig.
                  </td>
                </tr>
                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                  <td class="content-block" itemprop="handler" itemscope
                      itemtype="http://schema.org/HttpActionHandler"
                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                      valign="top">
                    <a href="{{loginurl}}{{logintoken}}" class="btn-primary" itemprop="url"
                       style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #348eda; margin: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">
                      Inloggen
                    </a>
                  </td>
                </tr>
                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                  <td class="content-block"
                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                      valign="top">
                    Deze mail verloopt automatisch.
                  </td>
                </tr>
                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                  <td class="content-block"
                      style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                      valign="top">
                    <h1>Voorwaarden en instructies</h1>
                    <ul>
                      <li>Als dit uw eerste keer is, wordt automatisch een kanaal voor u aangemaakt. U kunt uw kanaal
                        aanpassen onder 'Mijn kanaal'.
                      <li>In deze community plaatsen en bespreken we bewustmakend en alternatief nieuws. U kunt links
                        dumpen en artikelen schrijven, vertalen of samenvatten.
                      </li>
                      <li>De artikelen worden op uw kanaal geplaatst en bij voldoende populariteit ook automatisch op de
                        voorpagina.
                      </li>
                      <li>We hebben een support community op <a href="https://matrix.to/#/#zaplog.pro:zaplog.chat">https://matrix.to/#/#zaplog.pro:zaplog.chat</a></li>
                      <li>Beledigende, niet-inhoudelijke of strafbare uitingen kunnen zonder overleg worden
                        verwijderd.</li>
                      <li>Plaats geen artikelen waarop auteursrechten berusten, maak bij twijfel een samenvatting
                        of link dump van dat artikel.</li>
                      <li>Jouw artikelen worden gepubliceerd onder CC-SA-BY 4.0 licentie. Dat betekent
                        dat anderen ze met naamsvermelding mogen gebruiken mits ze delen ook weer toestaan.</li>
                      <li><b>Deze website gebruikt functionele cookies zonder geen tracking, zie <a href="https://gitlab.com/zaplog/api-zaplog/-/wikis/privacy-policy">privacy policy</a>. Echter, media embeds kunnen 3rd party cookies gebruiken waar wij geen controle over hebben. Door te registreren, gaeef je consent.</b></li>
                    </ul>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
        valign="top"></td>
  </tr>
</table>
</body>
</html>